[Desktop Entry]
Name=FlatCAM Beta
Exec=./bin/flatcam-beta
Type=Application
StartupNotify=true
StartupWMClass=flatcam.py
Icon=./assets/icon.png
Comment=G-Code from GERBERS
